python-3.10
pip install flask
pip install nltk==3.7
pip install numpy==1.23.3
pip install tensorflow==2.10.0
pip install joblib==1.2.0
pip install keras==2.10.0
pip install Keras-Preprocessing==1.1.2
